

.Home{
   width: 100%;
   height:960px;
   background:rgba(255,253,222,255);
   /* padding:20px; */
   display:flex;
   flex-direction:column;
   /* padding: 0; */
}

.Header {
    width: 100%;
    /* background: #9998fb; */
    padding: 2rem;
  }


  .centre-content{
    display:flex;
    flex-direction:row;
    /* justify-content: space-evenly; */
    padding: 50px;
    margin-left: 45px;
    


    /* padding: 0; */
    /* margin:0; */

  }

img{
  width:100px;
}

.start-btn{
   /* background:red; */
   margin-top: 200px;
  


  }
  .slogan{
    width:800px;
 
    margin-top: 100px;
    /* background:yellow; */
   }
   
   .slogan-small{
     margin-top:30px;
   }

   footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    transition-duration: 0.2s;
    /* z-index: 1; */
  }

  .start-btn button{
    -moz-border-radius:10rem;
    -webkit-border-radius:10rem;
    border-radius:10rem;
    background:#ec8434;
    width: 330px;
    height: 200px;
    text-decoration: white;
  }

 .start-btn button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  li {
    list-style-type: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

