 
.content-container{
    height:100vh;
    display:flex;
    /* justify-content: center; */
    background: purple;
  
 }
 .start-btn{
    background:red;
   }
  .slogan{
    background:green;
    width:397px;
    height: 100px;
   }
 