.wrapper{
    display:grid;
    grid-template-columns: 60% auto;
    height:100vh;

}

.left{
    background:blue;
}

.right{
    background:red;
}

.text-area{
   margin-left: 40px;
   display:flex;
}

.points-selection-header{
    background:green;
    width:100%;
}
img{
    width:100px;
  }

.grid{
    background:green;
    margin:80px;
    margin-top:600px;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-gap:2px;
    /* align-items:center; */
 
}

.card{
    background-color:#ff4e00;
    background-image:linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    
    height:150px;
    width: 100px;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    display:flex;
    justify-content:center;

}

.card-text{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 60px;
}


@media (max-width:768px){
    .grid{
        grid-template-columns: repeat(4,2fr);
        grid-gap:2px;

    }
}

@media (max-width:500px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
    .card{
        text-align: center  ;
    }
}