input + label {
  color: #f59e0b;
}

input:checked + label {
  background-color: #f59e0b;
  color: white;
}

input:checked + label:hover {
  background-color: #f59e0b;
  color: white;
}

input[type="submit"]:disabled {
  opacity: 0.5;
}
